@import '../../sizes.scss';

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .title-container{
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-container{
        
        .login-container{
            margin-top: 2rem;
        }
        .actions-section {
            display: flex;
            flex-direction: row;
        }
    }
    
}