<main>
    <div class="title-container">
        <h1 class="po-font-title">Task manager</h1>
        <p class="po-font-text">Controle suas tarefas de maneira simples</p>
    </div>
    <div class="login-container w-40">
        <section class="login-form-section">
            <form [formGroup]="userLoginForm">
                <po-login
                    name="login"
                    p-label="E-mail"
                    p-placeholder="E-mail"
                    p-clean
                    p-required
                    formControlName="email"
                ></po-login>
                <po-password
                    name="password"
                    p-label="Senha"
                    p-placeholder="Senha"
                    p-required
                    [p-minlength]="minLength"
                    formControlName="password"
                ></po-password>
            </form>
        </section>

        <div class="actions-section">
            <po-button
                class="singin-btn po-mt-2"
                p-label="Login"
                p-tooltip="Clique para entrar"
                [p-disabled]="!userLoginForm.valid"
                (p-click)="onSignInClick()"
            ></po-button>
            <po-button
                class="singup-btn po-mt-2 po-mb-2 po-ml-1"
                p-label="Cadastre-se"
                p-kind="primary"
                p-tooltip="Click para se cadastrar"
                (p-click)="onSignUpClick()"
            ></po-button>
        </div>
    </div>

    <po-modal
        #createUserModal
        p-title="Crie sua conta"
        p-icon="po-icon-user"
        p-size="xl"
    >
        <create-user (onFormSucccess)="onFormSuccess($event)"></create-user> 
        <po-modal-footer>
            <po-button p-label="Fechar" (p-click)="createUserModal.close()"></po-button>
        </po-modal-footer>
    </po-modal>
</main>