<main>
    <section class="content-section">
        <div class="title-container">
            <h1 class="po-font-title">
                Task manager
            </h1>
            <h2 class="po-font-subtitle">
                Seu gerenciador de tarefas
            </h2>
            <h3 class="po-mt-3 po-font-text-large">Tarefas concluídas vs tarefas não concluídas</h3>
        </div>
        @if(taskChart.length > 0) {
            <section class="chart-section">
                <div class="chart-container ">
                    <po-chart
                        [p-series]="chartSeries"
                    />
                </div>
            </section>
        } @else {
            <div>
                <h1>Não foram encontradas tasks.</h1>
            </div>
        }
    </section>
</main>