<main>
    <div class="title-container">
        <h1 class="po-font-title">Cadastro</h1>
        <p class="po-font-text">Por favor entre as informações a seguir para se cadastrar no app!</p>
    </div>

    <form [formGroup]="registerUserForm">
        <div class="form-container">
            <div class="personal-data-container po-pt-2">
                <po-divider class="po-xl-12 po-lg-12 po-md-12 po-sm-12" p-border-width="medium" p-label="Dados pessoais" />

                <po-input class="po-xl-6 po-lg-6 po-md-6 po-sm-6" name="name" id="name" p-label="Nome" p-placeholder="Nome" p-required formControlName="name"/>

                <po-input class="po-xl-6 po-lg-6 po-md-6 po-sm-6" name="lastName" id="lastName" p-label="Sobrenome" p-placeholder="Sobrenome" p-required formControlName="lastName"/>
            </div>
            <div class="psw-container">
                <po-divider class="po-xl-12 po-lg-12 po-md-12 po-sm-12" p-border-width="medium" p-label="Dados login" />

                <po-input class="po-xl-12 po-lg-12 po-md-12 po-sm-12" name="email" id="email" p-label="E-mail" p-placeholder="E-mail" p-required formControlName="email"/>
                
                <div class="psw-validator">
                    
                    <po-password class="po-xl-6 po-lg-6 po-md-12 po-sm-12" name="password" id="password" p-label="Senha" p-placeholder="Senha" p-required formControlName="password"/>

                    <po-password class="po-xl-6 po-lg-6 po-md-12 po-sm-12" name="confirmPassword" id="confirmPassword" p-label="Confirme sua Senha" p-placeholder="Confirme sua Senha" p-required formControlName="confirmPassword"/>

                    @if(registerUserForm.errors?.['mismatch'] && registerUserForm.get('confirmPassword')?.touched) {
                        <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12 psw-err">
                            <p class=" po-font-text-uppercase psw-error">
                                Senhas não são iguais!
                            </p>
                        </div>
                    }
                </div>
            </div>        
        </div>
    </form>
    <po-button
        class="po-xl-2 po-lg-2 po-md-12 po-sm-12"
        p-label="Enviar"
        (p-click)="onFormSubmit()"
        [p-disabled]="!registerUserForm.valid"
    />
</main>
